.about {
  // position: relative;
  min-height: 100vh;
  background-color: #e0e6e2;

  // &::before {
  //   content: '';
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   background: url(../public/pexels-cell-coins2.jpg) no-repeat center center/cover;
  //   background-attachment: fixed;
  //   height: 100%;
  //   width: 100%;
  //   z-index: -1;
  // }

  // @media (width >= 800px) {
  //   background: url(../public/pexels-cell-coins2.jpg);
  //   background-position: center center;
  //   background-repeat: no-repeat;
  //   background-size: cover;
  //   opacity: 0.9;
  // }

  h2 {
    font-size: 2rem;
    color: #333;
    // color: #ecf0f1;

    @media (width >= 800px) {
      font-size: 3rem;
    }
  }

  p {
    color: #1c1d22;
    // color: #ecf0f1;
    padding-top: 1.5rem;
    font-size: 1.5rem;

    @media (width >= 800px) {
      font-size: 1.7rem;
    }
  }
}

.wrapper {
  padding: 4rem 0 4rem 0;

  @media (width >= 800px) {
    // display: flex;
    // justify-content: flex-end;
    margin: 0 10rem;
  }
}

.text {
  width: 100%;
  padding: 1rem 3rem;

  @media (width >= 800px) {
    width: 60%;
  }
}
