.crypto {
  min-height: 100vh;
  background: url(../public/3d-digital.jpg);
  background-position: center left;
  background-repeat: no-repeat;
  background-size: cover;

  h2 {
    color: #fff;
  }
}
