.hero {
  // position: relative;
  // background-color: var(--overlay);

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../public/crypto-cell.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  // background-attachment: fixed;

  // &::before {
  //   content: '';
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   background: url(../public/pexels-traiding.jpg) no-repeat center center/cover;
  //   background-attachment: fixed;
  //   height: 100%;
  //   width: 100%;
  //   z-index: -1;
  // }

  h1 {
    color: #ffab00;
    // color: #ffab00;
    font-size: 3.5rem;

    @media (width >= 800px) {
      width: 50%;
      font-size: 5rem;
    }
  }

  p {
    color: #ecf0f1;
    margin-top: 1rem;
    font-size: 1.5rem;

    @media (width >= 800px) {
      width: 50%;
    }
  }
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  a {
    display: inline;
    margin-top: 3rem;
  }

  // > * {
  //   margin-bottom: 3rem;
  // }
}

// .image {
//   position: relative;
//   height: 100vh;
// }
