.hero {
  position: relative;
  background-color: var(--overlay);

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  // background: url(../public/3d-digital.jpg);
  // background-position: center left;
  // background-repeat: no-repeat;
  // background-size: cover;
  /* background-size: contain; */

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: url(../public/pexels-traiding.jpg) no-repeat center center/cover;
    height: 100%;
    width: 100%;
    z-index: -1;
  }

  h1 {
    color: #fff;
    // color: #ffab00;
    font-size: 3.5rem;

    @media (width >= 800px) {
      width: 50%;
      font-size: 5rem;
    }
  }

  p {
    color: #ecf0f1;
    margin-top: 1rem;

    @media (width >= 800px) {
      width: 50%;
    }
  }
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  a {
    display: inline;
    margin-top: 3rem;
  }

  // > * {
  //   margin-bottom: 3rem;
  // }
}
