.hero {
  height: 100vh;
  background: url(../public/3d-digital.jpg);
  background-position: center left;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-size: contain; */

  h1 {
    color: #fff;

    @media (width >= 800px) {
      width: 50%;
    }
  }

  p {
    color: #ecf0f1;

    @media (width >= 800px) {
      width: 60%;
    }
  }
}
