.heading {
  h1 {
    color: var(--color-primary);
    font-size: 4rem;
    text-align: center;
    text-transform: uppercase;

    @media (width <= 800px) {
      display: none;
    }
  }
}

.paragraph {
  padding: 0 0;

  p {
    font-size: 1.8rem;
  }
}

.table {
  padding: 5px;
  width: 100%;
  overflow-x: auto;

  table {
    // border: 1px solid #ccc;
    border-collapse: collapse;
    width: 100%;
    font-size: 1.5rem;

    thead {
      background-color: #172035;
      color: #fff;
    }

    th {
      border: 2px solid #fff;
    }

    th,
    td {
      vertical-align: top;
      text-align: left;
      padding: 12px 8px;
      &.icons {
        > * {
          margin-right: 5px;
          cursor: pointer;
        }
      }
    }

    tr {
      border-bottom: 2px solid #ccc;
      cursor: pointer;
    }

    tr:nth-child(even) {
      background-color: #fff;
    }
    tr:hover {
      background-color: #ccc;
    }
  }
}
